<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Service descovery and publication">
    <meta name="author" content="Eranga">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@ViewBag.Title</title>
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bootstrap/css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bootstrap/js")"></script>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ays.debug.js")"></script>
</head>
<body class="background">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </a><a class="brand" href="#">l33tn33s</a>
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.Partial("_UserMenu", Session[SessionKeys.User])
                }
                else
                {
                    <div class="btn-group pull-right">
                        @Html.ActionLink("Sign Up", "SignUp", "Accounts", null, new { @class = "btn btn-info" })
                        @Html.ActionLink("Sign In", "Login", "Accounts", null, new { @class = "btn" })
                    </div>
                }
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li class="divider-vertical"></li>
                        <li class="divider-vertical"></li>
                        <li style="height: 25px;">
                            <form class="form-search" action="@Url.Action("Search", "Services")">
                            <input type="text" id="terms" name="terms" class="input-medium search-query" placeholder="Looking For">
                            <input type="text" id="location" name="location" class="input-medium search-query" placeholder="Location">
                            <button type="submit" class="btn">
                                Search</button></form>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div id="msg-warn" class="alert hidden">
        <a class="close" href="#" data-dismiss="alert">×</a> <span id="msg-warn-text"></span>
    </div>
    <div class="container">
        @RenderBody()
        <footer class="footer">
            <p class="pull-right">
                <a href="#">Back to top</a></p>
            <p>
                &copy;2012 Eranga</p>
        </footer>
    </div>
    <!-- /container -->
    <div class="modal hide fade" id="modal-message">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a><h3>
                At Your Service</h3>
        </div>
        <div class="modal-body" id="modal-message-body">
        </div>
        <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn btn-primary">OK</a></div>
    </div>
    @Html.Partial("_UserLocation")
</body>
</html>
