@using AtYourService.Domain.Adverts
@model CategoryBrowseModel
@{
    ViewBag.Title = "Category";
    var services = (IEnumerable<Service>)ViewData[ViewDataKeys.Services];
    var location = (Point)ViewData[ViewDataKeys.UserLocation];
}
<div class="row">
    <div class="span6">
        <h3 class="pull-left">
            Services in category</h3>
        <div class="btn-group pull-right">
            <button class="btn">
                Sort By</button>
            <button class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("Category", new { Model.Id, Model.Page, SortBy = CategoryBrowseModel.Date })">
                    Date</a></li>
                <li><a href="@Url.Action("Category", new { Model.Id, Model.Page, SortBy = CategoryBrowseModel.Distance })">
                    Distance</a></li>
                <li><a href="@Url.Action("Category", new { Model.Id, Model.Page, SortBy = CategoryBrowseModel.Views })">
                    Views</a></li>
            </ul>
        </div>
    </div>
    <div class="span6">
    </div>
</div>
<div class="row">
    <div class="span6">
        <table class="table table-bordered table-striped">
            <thead class="hide">
                <tr>
                    <th>
                        Views
                    </th>
                    <th>
                        Image
                    </th>
                    <th>
                        Text
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var service in services)
                {
                    <tr data-id="@service.Id">
                        <td>
                            <div class="center">
                                <h2>
                                    2</h2>
                                Reviews</div>
                            <div class="center">
                                <h3>
                                    42</h3>
                                Views
                            </div>
                        </td>
                        <td>
                            @if (service.Image != null)
                            {
                                <img src="@Url.Action("GetSmall", "Images", new { id = service.Image.Id })" alt="Image"/>
                            }
                            else
                            {
                                <img alt="Image" src="@Url.Content("~/Content/Images/150x100.jpg")" />
                            }
                        </td>
                        <td>
                            <h3>
                                @Html.ServiceDetailsActionLink(service)</h3>
                            <p>
                                @service.Body</p>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="span6" id="map-canvas" style="height: 600px">
    </div>
</div>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
    var services = @Html.Serialize(ViewData[ViewDataKeys.ServiceSerializationInfos]);

    function initialize() {
        var latlng = new google.maps.LatLng(@location.Y, @location.X);
        var options = { zoom: 14, center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById
            ("map-canvas"), options);
        
        $.each(services, function(index, value) { 
            var serviceLatlng = new google.maps.LatLng(value.Lat, value.Lng);
            
            var marker = new google.maps.Marker({
                position: serviceLatlng,
                animation: google.maps.Animation.DROP,
                map: map,
                title: value.Title
            });
            marker.set("id", value.Id);
            
            attachInfo(marker, value);
        });
    }

    function attachInfo(marker, service) {

        var infowindow = new google.maps.InfoWindow({
            content: formatInfoContent(service)
        });

        google.maps.event.addListener(marker, 'click', function() {
            infowindow.open(marker.get('map'), marker);
        });
    }
      
    $(function () {
        $('.dropdown-toggle').dropdown();
        initialize();

        $('tbody > tr').hover(function() {
            var id = $(this).attr('data-id');

            $.each(services, function(index, value) { 
                if (value.Id == id) {
                    map.setCenter(new google.maps.LatLng(value.Lat, value.Lng));
                }
            
            });
        });
    });
</script>
<div>
</div>
