@using AtYourService.Web
@model CreateServiceModel
@{
    ViewBag.Title = "Create";
}
<div class="row">
    <div class="span12">
        @using (Html.BeginForm("Create", "Services", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            <fieldset>
                <legend>New Ad</legend>
                @Html.Partial("ValidatiuonSummary", ViewData.ModelState)
                <div class="row">
                    <div class="span7">
                        <div class="control-group">
                            @Html.Custom().LabelFor(model => model.Title)
                            <div class="controls">
                                @Html.TextBoxFor(model => model.Title, new { @class = "input-xxlarge" })
                                @Html.ValidationMessageFor(model => model.Title)
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.Custom().LabelFor(model => model.Body)
                            <div class="controls">
                                @Html.TextAreaFor(model => model.Body, new { @class = "input-xxlarge", rows = "15" })
                                @Html.ValidationMessageFor(model => model.Body)
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.Custom().LabelFor(model => model.CategoryId)
                            <div class="controls">
                                @Html.CategoryFor(model => model.CategoryId, (IEnumerable<GroupedSelectListItem>)ViewData[ViewDataKeys.Categories])
                                @Html.ValidationMessageFor(model => model.CategoryId)
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.Custom().LabelFor(model => model.Image)
                            <div class="controls">
                                @Html.ImageUploadFor(model => model.Image)
                                @Html.ValidationMessageFor(model => model.Body)
                            </div>
                        </div>
                        <span><i class="icon-map-marker"></i><span id="location-text">&nbsp;Select your location
                            on the map by clicking on it</span></span>
                        @Html.HiddenLocation()
                    </div>
                    <div class="span4" id="map-canvas" style="height: 400px">
                    </div>
                    <div class="row">
                        <div class="span12">
                            <div class="form-actions">
                                <button class="btn btn-primary" type="submit">
                                    Create</button>
                                @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn" })
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/ays.service.js")"></script>
<script type="text/javascript">
    var geoService;

    function initialize() {
        var lat = $('#user-location').attr('data-lat');
        var lng = $('#user-location').attr('data-lng');

        var latlng = new google.maps.LatLng(lat, lng);
        var options = { zoom: 14, center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById
            ("map-canvas"), options);

        geoService = new AdvertGeoSerivce(map);
    }

    $(function () {
        $('.dropdown-toggle').dropdown();
        $.validator.addMethod('accept', function () { return true; });
        initialize();
    });

    $("form").submit(function (e) {
        if ($(this).valid()) {
            var lat = $('#Latitude').val();
            var lng = $('#Longitude').val();
            if (lat == null || lat == '' || lng == null || lng == '') {
                $('#modal-message-body').html('<p>Please select the location of the service on the map.</p>');
                $('#modal-message').modal('show');
                e.preventDefault();
            }
        }
        else {
            e.preventDefault();
        }
    });
</script>
