@model ChangePasswordViewModel
<div class="modal hide fade" id="modal-change-pass">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">
            &times;</button>
        <h3>
            Change Password</h3>
    </div>
    <div class="modal-body">
        @using (Html.BeginForm("ChangePassword", "Accounts", FormMethod.Post, new { @class = "form-horizontal", id = "change-pass-from" }))
        {
            <div class="control-group">
                @Html.Custom().LabelFor(model => model.CurrentPassword)
                <div class="controls">
                    @Html.PasswordFor(model => model.CurrentPassword, new { @class = "input-large" })
                    @Html.ValidationMessageFor(model => model.CurrentPassword)
                    <span id="curr-error"></span>
                </div>
            </div>
            <div class="control-group">
                @Html.Custom().LabelFor(model => model.NewPassword)
                <div class="controls">
                    @Html.PasswordFor(model => model.NewPassword, new { @class = "input-large" })
                    @Html.ValidationMessageFor(model => model.NewPassword)
                </div>
            </div> 
            <div class="control-group">
                @Html.Custom().LabelFor(model => model.RetypePassword)
                <div class="controls">
                    @Html.PasswordFor(model => model.RetypePassword, new { @class = "input-large" })
                    @Html.ValidationMessageFor(model => model.RetypePassword)
                </div>
            </div>                       
        }
    </div>
    <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn">Close</a> <a href="#" id="btn-change-pass"
            class="btn btn-primary">Save changes</a>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#btn-change-password').click(function () {
            $('#modal-change-pass').modal('show');
            $('#CurrentPassword').focus();

            return false;
        });

        $('#modal-change-pass').on('hidden', function () {
            $('#CurrentPassword').val('');
            $('#NewPassword').val('');
            $('#RetypePassword').val('');
            var span = $('#curr-error');
            span.html('');
            span.addClass("field-validation-valid");            
        });
        
        $('#btn-change-pass').on('click', function (e) {
            e.preventDefault();            

        if ($('#change-pass-from').valid()) {
                $.ajax({
                type: "POST",
                url: "@Url.Action("ChangePassword")",
                data: $('#change-pass-from').serialize(),
                dataType: "json",
                success: function (data) {
                    if (data.Success) {
                        location.reload();
                    } else {
                        var span = $('#curr-error');
                        span.html(data.Message);
                        span.addClass("field-validation-error");
                    }
                }
            }); 
        }           
        });
    });
</Script> 