@model ForgotPasswordModel

@{
    ViewBag.Title = "Forgot Password";
}
<div class="row">
    <div class="span12">
        @using (Html.BeginForm("ForgotPassword", "Accounts", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <fieldset>
                <legend>Forgot Password</legend>
                @Html.Partial("ValidatiuonSummary", ViewData.ModelState)
                <div class="row">
                    <div class="span6">
                        <div class="control-group">
                            @Html.Custom().LabelFor(model => model.Email)
                            <div class="controls">
                                @Html.TextBoxFor(model => model.Email, new { @class = "input-xlarge"})
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                    </div>
                    <div class="row">
                        <div class="span12">
                            <div class="form-actions">
                                <button class="btn btn-primary" type="submit">
                                    Send Mail</button>
                                @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn"})
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>
