@model PasswordRestModel

@{
    ViewBag.Title = "Password Reset";
}
<div class="row">
    <div class="span12">
        @using (Html.BeginForm("PasswordReset", "Accounts", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <fieldset>
                <legend>Password Reset</legend>
                @Html.Partial("ValidatiuonSummary", ViewData.ModelState)
                <div class="row">
                    <div class="span6">
                        <div class="control-group">
                            @Html.Custom().LabelFor(model => model.NewPassword)
                            <div class="controls">
                                @Html.TextBoxFor(model => model.NewPassword, new { @class = "input-xlarge" })
                                @Html.ValidationMessageFor(model => model.NewPassword)
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.Custom().LabelFor(model => model.RetypePassword)
                            <div class="controls">
                                @Html.TextBoxFor(model => model.NewPassword, new { @class = "input-xlarge" })
                                @Html.ValidationMessageFor(model => model.NewPassword)
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                    </div>
                    <div class="row">
                        <div class="span12">
                            <div class="form-actions">
                                <button class="btn btn-primary" type="submit">
                                    OK</button>
                                @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn"})
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>
