@model SignUpViewModel

@{
    ViewBag.Title = "SignUp";
}

@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="span9">
        @using (Html.BeginForm("SignUp", "Accounts", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <fieldset>
                <legend>Sign Up</legend>
                <div class="row">
                    <div class="span5">
                        <div class="control-group">
                            @Html.Custom().LabelFor(model => model.Name)
                            <div class="controls">
                                @Html.TextBoxFor(model => model.Name, new { @class = "input-large" })
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.Custom().LabelFor(model => model.Password)
                            <div class="controls">
                                @Html.PasswordFor(model => model.Password, new { @class = "input-medium" })
                                @Html.ValidationMessageFor(model => model.Password)
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.Custom().LabelFor(model => model.RetypePassword)
                            <div class="controls">
                                @Html.PasswordFor(model => model.RetypePassword, new { @class = "input-medium" })
                                @Html.ValidationMessageFor(model => model.RetypePassword)
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.Custom().LabelFor(model => model.Email)
                            <div class="controls">
                                @Html.TextBoxFor(model => model.Email, new { @class = "input-large", type = "email" })
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="select01">
                                Came here by</label>
                            <div class="controls">
                                <select id="Source" name="Source">
                                    <option>something</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.Custom().LabelFor(model => model.Brag)
                            <div class="controls">
                                @Html.TextAreaFor(model => model.Brag, new { @class = "input-xlarge", rows = "6" })
                                @Html.ValidationMessageFor(model => model.Brag)
                            </div>
                        </div>
                        <span><i class="icon-map-marker"></i><span id="location-text"> Select your location on the map by clicking on it</span></span>
                        @Html.HiddenFor(model => model.Latitude)
                        @Html.HiddenFor(model => model.Longitude)
                    </div>
                    <div class="span4" id="map-canvas" style="height: 400px">
                    </div>
                    <div class="row">
                        <div class="span9">
                            <div class="form-actions">
                                <button class="btn btn-primary" type="submit">
                                    Sign Up</button>
                                <button class="btn">
                                    Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/ays.signup.js")"></script>
<script type="text/javascript">
    var geoService;
    
    function initialize() {
        var latlng = new google.maps.LatLng(6.9319444, 79.8877778);
        var options = { zoom: 14, center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById
            ("map-canvas"), options);

        geoService = new SignUpGeoSerivce(map);
    }

    $(function () {
        $('.dropdown-toggle').dropdown();
        initialize();
    });

    $("form").submit(function (e) {
        if ($(this).valid()) {
            var lat = $('#Latitude').val();
            var lng = $('#Longitude').val();
            if (lat == null || lat == '' || lng == null || lng == '') {
                alert('lat test');
                $('#modal-message-body').html('<p>Please select your location on the map.</p>');
                $('#modal-message').modal('show');
            }

        }
        else {
            e.preventDefault();
        }
    });
</script>

